pip==19.0.3
astroid==2.2.5
attrs==19.1.0
eventkit==0.8.4
hypothesis==4.14.6
ib-insync==0.9.46
ibapi==9.75.1
isort==4.3.16
lazy-object-proxy==1.3.1
mccabe==0.6.1
mypy==0.670
mypy-extensions==0.4.1
nest-asyncio==1.0.0
numpy==1.16.2
pylint==2.3.1
six==1.12.0
typed-ast==1.3.1
wrapt==1.11.1
tornado==4.5.3
jupyter==1.0.0
pyfolio==0.9.0
yapf==0.27.0
progress==1.5